/*  your css code here. If applicable */
p{
	Border-width: 1px;
}
#p1{
	background-color:yellow;
	border-color:green;
}
/*  your css code here. If applicable */
#p2{
	background-color:red;
	border-color:black;
}
/*  your css code here. If applicable */
#p3{
	background-color:green;
	border-color:yellow;
}